body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 16px;
	background: url(/images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.heading {
	font-family: 'Monoton', cursive;
	font-size: 60px;
	margin-bottom: 30px;
	text-decoration: none;
}

.heading a {
	text-decoration: none;
	color: black;
}

.heading a:hover {
	color: #5e5e5e;
}

.table {
	font-size: 16px;
	margin-bottom: 30px;
}

.mybutton {
	font-size: 16px;
}

.myForm {
	margin: 50px;
}

input {
	width: 350px;
	margin: 10px;
}