/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-size: 16px;
	background-color: none !important;
}

html {
	background: url(/images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.heading {
	font-family: 'Monoton', cursive;
	font-size: 50px;
	margin-bottom: 20px;
}

.table {
	font-size: 16px;

}


.mybutton {
	font-size: 16px;
}

.myForm {
	margin: 50px;
}